* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  background-repeat: no-repeat;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  text-rendering: optimizeLegibility;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin:0;
  padding:0;
}

a {
  -webkit-tap-highlight-color:rgba(0,0,0,.2);
}